body {
    background-color: #8fd2cb !important;
}

#galeria{
    width:85%;
    margin:auto;
}

#logo{
    width:105px;
    height:100%;
    background-size: auto 100%;
    background-image: url(../imgs/Pepsi_logo.png);
    background-repeat: no-repeat;
}

div[class="thumbnail"] img { 
    height: 150px;
}

ul[class="dropdown-menu"] li > input{ 
    margin-bottom: 3px;
}
/*  Separador nav-bar */
.divider-vertical {
height: 50px;
margin: 0 9px;
border-left: 2px solid #F2F2F2;
border-right: 1px solid #FFF;
}

/* Modificacio Bootstrap */
.navbar-brand{
    padding: 5px 15px !important;
}

.imgslider{
    height:450px;
}

.row{
    padding-top:30px;
}
.thumbnail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}